.left{
	width: 200px;
	height: 800px;
	background-color: #1c2b36;
	float: left;
}

.right{
	width: 1033px;
	float: left;
}

#table{
	margin-left:66px;
	margin-top: 100px;
}

.left-first{
	width: 200px;
	height: 183px;
}

.left-first-img{
	width: 170px;
	height: 153px;
	padding: 15px;
}

.photo{
	width: 96px;
	height: 96px;
	border-radius: 500px;
	margin: auto;
}

.photo img{
	width: 100%;
	border-radius: 500px;
}


.clear{
	margin: auto;
	display: block;
	overflow: hidden;
	width: 170px;
	height: 47px;
}

.block{
	display: block;
}

.m-t-sm{
	margin-top: 10px;
}

.font-bold{
	display: block;
	font-size: 14px;
	font-weight: 700px;
	color: #bfd1de;
}

.text-lt{
	text-align: center;
}

.text-xs{
	font-size: 12px;
	text-align: center;
}

.text-muted{
	color: #507b9b;
}
